- title "Caches near you"

.row
  .span12
    = gmaps( "markers" => { "data" => @google_maps_json, "options" => { "do_clustering"=>true, "clusterer_maxZoom"=>13 } }, "map_options" => { :container_class => "map_container", :class => "height500", :auto_adjust => true } )