- title "Caches near you"

.row
  .span6
    - @fruit_caches.each do |fruit_cache|
      = render :partial => "snippet", :locals => { :fruit_cache => fruit_cache }

  .span6
    = gmaps( :map_options => { :container_class => "map_container", :class => "height300", :auto_adjust => true },:markers => { "data" => @google_maps_json} )
%br

