%h1 Urban Fruit Project
%h3 Let the games begin

.about There are many hidden fruit trees on public land, trails or on roadsides.  These trees and bushes can be a bountiful supply of many good things.. if you know where they are.  Here is that knowledge.  If you know of fruit, share it.  If you need fruit, go get it.

%a{ :href => fruit_caches_url } Find Fruit
%a{ :href => new_fruit_cache_url } Record your find