%h1 Frequently Asked Questions

%h2 General
%dl.faq
  %dt How do I save plant locations?
  %dd For starters you need to create a user account.  After that the hardest part is ensuring you have the location correct.  There are a two ways to track the location: 1) you can enter a latitude/longitude directly, or 2) you can drag a pin on the map to set the location.  Mobile apps like Evernote automatically save a lat/long with each note, so you can use that to track lat/longs for plants in the wild.
  
%h2 Technical/Developers
%dl.faq
  %dt Is this an open source project?
  %dd 
    Yes, you can find the source on
    %a{:href=>"https://github.com/vfilby/Urban-Fruit-Project"} Github
  
  %dt Where can I find out more technical information?
  %dd
    On 
    %a{ :href=>"https://github.com/vfilby/Urban-Fruit-Project"} Github
    , please look at the 
    %a{ :href=>"https://github.com/vfilby/Urban-Fruit-Project/wiki" } wiki
    and the 
    %a{ :href=>"https://github.com/vfilby/Urban-Fruit-Project/blob/master/README.markdown" } readme.
  
  %dt I found a bug, can I submit an issue?
  %dd 
    Yes, we use 
    %a{ :href=>"https://github.com/vfilby/Urban-Fruit-Project/issues"} Github Issues
  
  %dt Can I help contribute?
  %dd Yes! We can use help on nearly all aspects of the site: design, code, mobile, social, etc.  If you would like to help please visit out facebook page and send us a message
  
  %dt What is your policy on data?
  %dd We are considering an open data policy (letting anyone download our dataset at any time), but in the meantime any data you contribute can always be exported and sent back to you.  There is no automated tool for exporting data yet.
  
  %dt Do you have an API?
  %dd We are currently working on adding a JSON API.