%h1 Terms Of Use

%b We can not guarantee the accuracy of information provided on this site
%p The information on this site is not to be considered an authoritative source.  We try our best to strive for correctness but since many users supply data we can not verify each entry.

%b You are responsible for correctly identifying plants that you find
%p You are responsible for correctly identifying plants.  Many plants have poisonous look-a-likes, you need to be able to distinguish between them.

%b You are responsible for knowing your own allergies and reactions to food
%p Many people suffer allergies to conventional foods (such as strawberries, peanuts, etc), you are responsible for knowing your own allergies.

%b No Liability
%p No liability exists against the Urban Fruit Project, nor can they be held responsible for any allergy, illness or injurious effect that any person or animal may suffer as a result of information in this site.