%div.thumbnail
  = image_tag image.photo.url(:thumbnail_crop)
  %p
    = image.caption
  - if can? :delete, image 
    = link_to image_path(image, :redirect_to => fruit_cache_path(image.fruit_cache)), :'data-method'=>"delete",:'data-confirm' => 'Are you sure?', :method => :delete do
      %i.icon-remove.pull-right
    %div{ :style => "clear: right;" }
