- title( @tag.tag )

.row
  .span6
    .tag
      = @tag.tag
    =link_to( "Edit", edit_tag_path( @tag ) )
    .parent
      = @tag.parent
    .children
      = @tag.children
    .meta
      = @tag.meta