body {
  padding-top: 60px;
}

.subnav-fixed {
position: fixed;
top: 40px;
left: 0;
right: 0;
z-index: 1020;
border-color: #D5D5D5;
border-width: 0 0 1px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
-moz-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.subnav {
width: 100%;
height: 36px;
background-color: #EEE;
background-repeat: repeat-x;
background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='whiteSmoke', endColorstr='#EEE',GradientType=0 );
background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
border: 1px solid #E5E5E5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}